{% extends "base_generic.html" %}

{% block content %}
  {% if loan.back_date %}
  <h2>Riconsegna: {{ loan.book }}</h2>
  {% else %}
  <h2>Nuovo prestito</h2>
  {% endif %}
  <form action="" method="post">
    {% csrf_token %}
    <table>
    {{ form.as_table }}
    </table>
    <a href="{% url 'book-detail' loan.book.pk %}">Back to Book</a> <input type="submit" value="Submit">
    {% if loan.back_date %}
    <a href="{% url 'book-loanback' loan.pk %}">Book back</a>
    {% endif %}
  </form>
{% endblock %}