{% extends "base_generic.html" %}

{% block content %}
  <h1>Publisher List</h1>
  {% if user.is_authenticated %}
  <p>Would you like to create a new one inside? <a href="{% url 'publisher-create'%}">Create</a></p>
  {% endif %}
  {% if object_list %}
  <ul>
    {% for object in object_list %}
      <li>
        {{ object.name }} <a href="{% url 'publisher-update' object.pk %}">Edit</a> <a href="{% url 'publisher-delete' object.pk %}">Delete</a>
      </li>
    {% endfor %}
  </ul>
  {% else %}
    <p>There are no Publisher inside.</p>
  {% endif %}
{% endblock %}